* {
	padding: 0;
	margin: 0;
	border: 0;
}
:focus {
	outline: none;
}
article {
	text-align: center;
	background-color: white;
	display: flex;
}
div {
	width: 50%;
	height: 200px;
}
p {
	font-size: 2rem;
	padding-top: 50px;

}
.transition {
	background-color: #f6f6f6;
	transition: all linear;
}
.hide {
	display: none;
}
.show {
	display: flex;
}

.fortune-show {
    transition: all 2s;
    display: inline;
}
