* {
	padding: 0;
	margin: 0;
	border: 0;
}
:focus {
	outline: none;
}
article {
	text-align: center;
	background-color: #96D7CA;
	display: flex;
}
div {
	width: 50%;
	height: auto;
}
p {
	font-size: 2rem;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #FF394E;
	font-family: 'Rock Salt', cursive;
}
.green {
	color: #398077;
}
.pink {
	color: #FF63A5;
}
.white {
	color: white;
}
.transition {
	background-color: #F5EADF;
	transition: all linear;
}
.hide {
	display: none;
}
.show {
	display: flex;
}
#fortune-wrapper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-color: #F5EADF;
	color: #398077;}
#changefont {
	font-family: 'Raleway', sans-serif;
}

